<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sense</title>
    <meta name="Browse" content="Browse page">
    <meta name="author" content="Tiago Ferreira">
    <link rel="stylesheet" type="text/css" href="CSS/browse.css" />
</head>
<body>
    
    <ul class="menu">
        <li><a>Home</a></li>
        <li><a>Search</a></li>
        <li><a>Playlists</a></li>
    </ul>

    <ul class="play_bar">

        <li><a>Play me</a></li>
        <li><a>Play me</a></li>
        <li><a>Play me</a></li>

    </ul>

</body>
</html>