<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
	    <title>Sense</title>
	    <meta name="Homepage" content="Homepage of website">
	    <meta name="author" content="Tiago Ferreira">
	    <link rel="stylesheet" type="text/css" href="CSS/homepage.css" />
</head>
<body>

    <ul class="navigation_bar">

        <div class="logo">
            LOGO
        </div>

        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>
        <li><a href="browse">Browse</a></li>
        <li><a>About us</a></li>
        <li><a>Premium</a></li>
    </ul>

    <footer>
        <ul class="footer_bar">

            <div class="logo_footer">
                LOGO
            </div>

            <li><a>About us</a></li>
            <li>Copyright &copy; 2019 Sense. All rights reserved.</li>

        </ul>
    </footer>

    <div class="background">
        <img class="background-image" src="images/background.jpeg">
    </div>
</body>
</html>