<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sense</title>
	<meta name="description" content="Main page for the Sense Webpage">
	<meta name="author" content="">
    <link href="css/global.css" type="text/css" rel="stylesheet">
	<link href="css/index.css" type="text/css" rel="stylesheet">
</head>

<body>
    <h1 class="webTitle"><a href="/">Sense</a></h1>
    <nav>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="songs">Songs</a></li>
            <li><a href="playlists">Playlists</a></li>
            <li><a href="upload">Upload</a></li>
            <li><a href="login">Login/Signup</a></li>
			<li><a href="logout">Logout</a></li>
            <!--<form>
                <input type="text" placeholder="Search...">
				<input type="image" src="icons/SearchBarIcon.png" alt="search button" name="submit" />
            </form>-->
        </ul>
    </nav>
    <section>
        <h2>Featured Music</h2>
        <table class="featMusic">
			<caption><a href="songs">More songs...</a></caption>
			<colgroup>
				<col class="colAlbumArt">
				<col class="colSongName">
				<col class="colArtistName">
				<col class="colSongLength">
				<col class="colUserName">
			</colgroup>
			<tbody>
				<tr>
					<td><img src="images/OhWonderUltralife.png" style="width: 100px"></td>
					<td><a href="songs/StVincentBirthInReverse.mp3">Ultralife</a></td>
					<td>Oh Wonder</td>
					<td>3:12</td>
					<td>Jake Ward-Kear</td>
				</tr>
				<tr>
					<td><img src="images/StVincentBirthInReverse.png" style="width: 100px"></td>
					<td><a href="songs/StVincentBirthInReverse.mp3">St Vincent</a></td>
					<td>St Vincent</td>
					<td>3:15</td>
					<td>Jake Ward-Kear</td>
				</tr>
				<tr>
					<td><img src="images/KeroKeroBonitoFlamingo.png" style="width: 100px"></td>
					<td><a href="songs/KeroKeroBonitoFlamingo.mp3">Flamingo</a></td>
					<td>Kero Kero Bonito</td>
					<td>3:17</td>
					<td>Jake Ward-Kear</td>
				</tr>
			</tbody>
        </table>
        <br>

        <h2>Featured Playlists</h2>
        <table class="featList">
			<caption><a href="playlists">More playlists...</a></caption>
            <colgroup>
				<col class="colAlbumArt">
				<col class="colPlaylistName">
				<col class="colSongCount">
				<col class="colUserName">
			</colgroup>
			<tbody>
				<tr>
					<td><img src="images/noPlaylistArtAvailable.png"></td>
					<td><a href='#'>YeeHaw</a></td>
					<td>260</td>
					<td>Jake Ward-Kear</td>
				</tr>
				<tr>
					<td><img src="images/noPlaylistArtAvailable.png"></td>
					<td><a href='#'>My favourite songs</a></td>
					<td>32</td>
					<td>Bartek Wlodarski</td>
				</tr>
				<tr>
					<td><img src="images/noPlaylistArtAvailable.png"></td>
					<td><a href='#'>Best songs of all time</a></td>
					<td>12</td>
					<td>Bartek Wlodarski</td>
				</tr>
			</tbody>
        </table>
        <br>
    </section>

    <hr>
    <footer>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>


</html>