<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>Sense</title>
	<meta name="description" content="Playlist library">
	<meta name="author" content="Tiago Ferreira">
    <link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <section>
        <h1>{{playlistName}}</h2>
        <h2>{{description}}</h3>
    </section>
    </table>
</body>
</html>