
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Log In</h1>
		{{#if msg}}
 			<p class="msg">{{msg}}</p>
		{{/if}}
		<form action="/login" method="post">
			<p>Username:<br /><input type="text" name="user" placeholder="your username" value="{{user}}" autofocus></p>
			<p>Password:<br /><input type="password" name="pass" placeholder="your password" value=""></p>
			<p><input type="submit" value="Log in"></p>
		</form>
		<p><a href="/register">register</a></p>
	</body>
</html>
