<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Log In</title>
	<meta name="description" content="Login page for registered users">
	<meta name="author" content="">
	<link href="css/global.css" type="text/css" rel="stylesheet">
	<link href="css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
	<nav>
        <ul class="nav">
			<li class="siteName"><a href="/">Sense</a></li>
            <li><a href="logout">Logout</a></li>
			<li><a href="login">Login/Signup</a></li>
			<li><a href="upload">Upload</a></li>
			<li><a href="playlists">Playlists</a></li>
			<li><a href="songs">Songs</a></li>
            <li><a href="/">Home</a></li>
		</ul>
	</nav>
	<section>
		<h2>Log In</h2>
		{{#if msg}}
			<p class="msg">{{msg}}</p>
		{{/if}}
		<form action="/login" method="post" class="infoInput">
			<p>Username:<br /><input type="text" name="user" placeholder="Your username..." value="{{user}}" autofocus></p>
			<p>Password:<br /><input type="password" name="pass" placeholder="Your password..." value=""></p>
			<p><input type="submit" value="Log in"></p>
			<p><a href="/register">Don't have an account? Register here!</a></p>
		</form>
		
	</section>

	<footer>
    <hr>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>
</html>