<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Create an Account</title>
	<meta name="description" content="Registration page for new users">
	<meta name="author" content="">
	<link href="css/global.css" type="text/css" rel="stylesheet">
	<link href="css/login.css" type="text/css" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="nav">
			<li class="siteName"><a href="/">Sense</a></li>
            <li><a href="logout">Logout</a></li>
			<li><a href="login">Login/Signup</a></li>
			<li><a href="upload">Upload</a></li>
			<li><a href="playlists">Playlists</a></li>
			<li><a href="songs">Songs</a></li>
            <li><a href="/">Home</a></li>
            <!--<form>
                <input type="text" placeholder="Search...">
				<input type="image" src="icons/SearchBarIcon.png" alt="search button" name="submit" />
            </form>-->
        </ul>
    </nav>
	<section>
		<h2>Create an Account</h2>
		<form action="/register" enctype="multipart/form-data" method="post" class="infoInput">
			<p>Username:<br /><input type="text" name="user" placeholder="Your preferred username (No Spaces)" value=""></p>
			<p>Password:<br /><input type="password" name="pass" placeholder="Your chosen password" value=""></p>
			<p>Profile Picture:<br /><input type="file" name="avatar"></p>
			<p><input type="submit" value="Create"></p>
		</form>
	</section>

	<footer>
    <hr>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>
</html>