<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="Registration page for new users">
		<meta name="author" content="">
		<link href="css/global.css" type="text/css" rel="stylesheet">
		<link href="css/login.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<h1>Create an Account</h1>
		<section>
			<form action="/register" enctype="multipart/form-data" method="post">
				<p>Username:<br /><input type="text" name="user" placeholder="Your preferred username (No Spaces)" value=""></p>
				<p>Password:<br /><input type="password" name="pass" placeholder="Your chosen password" value=""></p>
				<p>Profile Picture:<br /><input type="file" name="avatar"></p>
				<p><input type="submit" value="Create"></p>
			</form>
		</section>
	</body>
</html>
