<!doctype html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
		<title>Sense</title>
		<meta name="description" content="form to add and search songs">
		<meta name="author" content="Tiago Ferreira">
		<link href="style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>Songs</h1>
        <footer>
            <p>Copyright &copy; 2019 Sense. All rights reserved</p>
        </footer>
    </body>
</html>