<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Upload | Sense</title>
	<meta name="description" content="The upload page for Sense.">
	<meta name="author" content="Bartek Wlodarski">
    <link href="css/global.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <h1 class="webTitle"><a href="/">Sense</a></h1>
    <nav>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="songs">Songs</a></li>
            <li><a href="playlists">Playlists</a></li>
            <li><a href="upload">Upload</a></li>
            <li><a href="login">Login/Signup</a></li>
            <form>
                <input type="text" placeholder="Search...">
				<input type="image" src="icons/SearchBarIcon.png" alt="search button" name="submit" />
            </form>
        </ul>
    </nav>
    <section>
        <h2>Upload</h2>
        {{#if msg}}
            <p class="msg">Error: {{msg}}</p>
        {{/if}}
        <form action="/upload" enctype="multipart/form-data" method="POST">
            <p>Please upload an MP3 file.</p>
            <input type="hidden" name ="upload" value="file">
            <p>File:<br><input type="file" name="song"></p>
            <p>Album Art:<br><input type="file" name="albumArt"></p>
            <p><input type="submit" value="Upload"></p>
            <select name="Playlists">
                <option value="0">Please select a playlist</option>
                {{#each playlists}}
                    <option value="{{this.id}}">{{this.playlistName}}</option>
                {{/each}}
            </select>
        </form>
            <p></p>
    </section>

    <hr>
    <footer>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>


</html>
