<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Upload | Sense</title>
	<meta name="description" content="The upload page for Sense.">
	<meta name="author" content="Bartek Wlodarski">
    <link href="css/global.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav>
        <ul class="nav">
			<li class="siteName"><a href="/">Sense</a></li>
            <li><a href="logout">Logout</a></li>
			<li><a href="login">Login/Signup</a></li>
			<li><a href="upload">Upload</a></li>
			<li><a href="playlists">Playlists</a></li>
			<li><a href="songs">Songs</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <section>
        <h2>Upload</h2>
        {{#if msg}}
            <p class="msg">Error: {{msg}}</p>
        {{/if}}
        <form action="/upload" enctype="multipart/form-data" method="POST" class="fileUpload">
            <p>Please upload an MP3 file.</p>
            <input type="hidden" name ="upload" value="file">
            <p>File:<br><input type="file" name="song"></p>
            <p>Album Art:<br><input type="file" name="albumArt"></p>
            <select name="Playlists">
                <option value="0">Please select a playlist</option>
                {{#each playlists}}
                    <option value="{{this.id}}">{{this.playlistName}}</option>
                {{/each}}
            </select>
            <p><input type="submit" value="Upload"></p>
        </form>
    </section>

	<footer>
    <hr>
        <p>Copyright &copy; 2019 Sense. All rights reserved.</p>
    </footer>
</body>
</html>