*{
	font-family:		Arial, Helvetica, sans-serif;
    color:				#242924;
}

html{ 
    height:             100%; 
}

body{
    /*background-color:	#595959;
    background-image:   linear-gradient(#bfbfbf, #595959);*/
    background-repeat:  no-repeat;
    margin:				0px;
    min-height:         100%;
    padding:            0; 
    margin:             0; 
    position:           relative;
}

nav {
    background-color:   #75a375;
    height:             auto;
    padding:            auto 0px;
    display:            block;
    position:           fixed;
    top:                0;
    width:              100%;
}

ul.nav {
    list-style-type:    none;
    margin:             0;
    padding:            0;
    height:             60px;
    text-align:         center;
    overflow:           hidden;
}

ul.nav li {
    float:              right;
    font-size:          19px;
    height:             60px;
    border-right:       1px solid #466d46;
    width:              calc(95% / 7);
    padding-top:        19px;
}

ul.nav li:first-child {
	border-right:		none;
}

ul.nav li.siteName {
    float:              left;
    font-size:          39px;
    padding-top:        8px;
}

ul.nav li a {
    display:            block;
    color:              #141f14;

	height:				auto;
    padding:            auto 16px;
    text-decoration:    none;
}

section {
    max-width:          60%;
    margin:             auto;
    margin-bottom:      50px;
    padding-top:        20px;
    padding-bottom:     0px;
    border:             1px;
    height:             100%;
    text-align:         center;
    margin-top:         60px;   
}

h2 {
    padding-bottom:     15px;
    margin-top:         0px;
    margin-bottom:      20px;
}

form.infoInput input[type=text], input[type=password] {
    background:         none;
    height:             30px;
    min-width:          250px;
    border:           	0.5px;
    border-style:       groove;
    border-color:       rgba(38,38,38,0.75);
    padding-left:       5px;
    padding-right:      5px;
    padding-top:        10px;
    padding-bottom:     10px;
}

form.infoInput {
    display:            inline-block;
}

body::after{ 
    content:            ''; 
    display:            block; 
    height:             100px; 
}

footer {
    position:           absolute; 
    bottom:             0; 
    width:              99%; 
    height:             100px; 
    padding:            0px 5px;
}
