body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navigation_bar {
    background-color: #000000;
    color: #ffffff;
    opacity: 0.5;
    font-weight: bold;
    list-style: none;
    text-align: right;
    position: fixed;
    width: 100%;
    padding: 25px 0 25px 0;
    margin: 0 0 0 0;
}

.navigation_bar > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.navigation_bar > li > a {
    color: #ffffff;
    text-decoration: none;
}

.navigation_bar > li > a:hover {
    color: grey;
}

.logo {
    color: #ffffff;
    float: left;
    padding-left: 20px;
}

.background {
    width: 100%;
    height: 100%;
    display: block;
}

.background > .background-image {
    width: 100%;
    height: 100%;
    display: block;
}

.footer_bar {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    list-style: none;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px 0 25px 0;
    margin: 0 0 0 0;
}

.footer_bar > li {
    display: inline-block;
    margin-left: 20px;
}

.footer_bar > li > a:hover {
    color: grey;
}

.logo_footer {
    color: #ffffff;
    float: left;
    padding-left: 20px;
}