table {
    max-width:          80%;
    margin:             auto;
    padding-top:        5px;
    caption-side:       bottom;
    table-layout:       fixed;
    font-size:          17px;
    font-weight:        650;
}

table a:link {
    text-decoration:    none;
}

td {
    text-align:         center;
}

table img {
    min-width:          120px;
    max-width:          120px;
}

table caption {
    text-align:         left;
}

.colAlbumArt {
    width:              120px;
}

.colSongName {
    width:              250px;
}

.colPlaylistName {
    width:              450px;
}

.colArtistName {
    width:              200px;
}

.colSongLength, .colSongCount, .colAlbumYear {
    width:              40px;
}

.colUserName {
    width:              200px;
}