body {
    height:             100%;
    margin-bottom:      auto;
}

.msg {
    border:             1px solid red;
    font-weight:        bold;
    color:              red;
    padding:            1em;
}

#wrapper {
    border:             1px solid gray;
    margin:             1em auto;
    padding:            0 1em;
    max-width:          960px;
    font-family:        Arial, Helvetica, sans-serif;
    background-color:   white;
}