img {
    float:              left;
    width:              300px;
    height:             300px;
}

article {
    height:             300px;
    margin-bottom:      20px;
}

audio {
    width: 400px;
}